######################################################################
##							 Heated bed								##
######################################################################
[heater_bed]															# Heated bed controls
heater_pin: PA1                        									# Heater pin
sensor_pin: PB1                        									# Sensor pin
sensor_type: ATC Semitec 104GT-2       									# Sensor type
control: pid                           									# Control method
pid_kp: 53.467                         									# Proportional parameter
pid_ki: 0.931                          									# Integral parameter
pid_kd: 767.921                        									# Derivative parameter
min_temp: 0                          									# Minimum temperature
max_temp: 100                          									# Maximum temperature