######################################################################
##							 Heated bed								##
######################################################################
[heater_bed]															# Heated bed controls
heater_pin: PA1                        									# Heater pin
sensor_pin: PB1                        									# Sensor pin
sensor_type: ATC Semitec 104GT-2       									# Sensor type
control: pid                           									# Control method
pid_kp: 53.467                         									# Proportional value
pid_ki: 0.931                          # PID Ki value
pid_kd: 767.921                        # PID Kd value
min_temp: 0                          									# Minimum temperature
max_temp: 100                          									# Maximum temperature

#---------------------------------------------------------------------

[idle_timeout]
timeout: 1800                # Turn off heated bed if idle for more than 30 minutes
