######################################################################
##							 Heated bed								##
######################################################################
[heater_bed]															# Heated bed controls
heater_pin: PA1                        									# Heater pin - HE1
sensor_pin: PB1                        									# Sensor pin - THB
sensor_type: ATC Semitec 104GT-2       									# Sensor type

control: mpc															# Control method
heater_power: 1000														# Heater power
cooling_fan: fan_generic fan2											# Cooling fan
# block_heat_capacity = 2241.46
# sensor_responsiveness = 0.0171332
# ambient_transfer = 3.55044
# fan_ambient_transfer = 3.55044, 3.68389, 3.73674

min_temp: 0                          									# Minimum temperature
max_temp: 100                          									# Maximum temperature
pwm_cycle_time: 0.02674													# PWM cycle time