######################################################################
##								Fans								##
######################################################################

[heater_fan Skirt_fan]            										# Skirt fan 1
pin: PF9                         										# FAN-1
kick_start_time: 0.5             										# Start-up time
heater: heater_bed               										# Related heater
#fan_speed: 0.5                   										# Fan speed

[heater_fan Skirt_fan_2]            									# Skirt fan 2
pin: PF8                         										# FAN-3
kick_start_time: 0.5             										# Start-up time
heater: heater_bed               										# Related heater
#fan_speed: 0.5                   										# Fan speed

#--------------------------------------------------------------------

[controller_fan driver_fan]      										# Driver cooling fan
pin: PF6                         										# FAN-2
idle_speed: 0.25                  										# Idle speed
cycle_time: 0.00001														# Cycle time

#--------------------------------------------------------------------

[fan_generic fan2]               										# 12032 Auxiliary Blower 
pin: PA0                         										# HE-0
kick_start_time: 1	             										# Start-up time
cycle_time: 0.00001														# Cycle time

#--------------------------------------------------------------------

[fan_generic fan3]               										# Fume pack fan
pin: PF7                         										# FAN-0     
kick_start_time: 0.5             										# Start-up time
cycle_time: 0.00001														# Cycle time
min_power: 0.5															# Minimum speed
