######################################################################
##							  RGB LEDs								##
######################################################################

[neopixel my_neopixel]
pin: PD15                     											# LED pin
chain_count: 50               											# Number of LEDs
color_order: GRBW              											# Color order
initial_RED: 0.2              											# Initial red brightness
initial_GREEN: 0.2            											# Initial green brightness
initial_BLUE: 0.2             											# Initial blue brightness

######################################################################
##							 LED effects							##
######################################################################


[led_effect extruder_temp]												
leds:
	neopixel: my_neopixel
layers: 
	heater 0.50 0.50 top (0.0,1.0,0.0),(1.0,0.0,0.0),(0.0,0.0,1.0)
frame_rate: 10
heater: extruder
autostart: true

[led_effect bed_heating]
leds:
    neopixel:my_neopixel
layers:
    heater 0.50 0.50 top (0.0,1.0,0.0),(1.0,0.0,0.0),(0.0,0.0,1.0)
frame_rate: 10
heater: heater_bed
autostart: true

[led_effect progress_bar]
leds:
    neopixel:my_neopixel
autostart: true
frame_rate:                         10
layers:
    progress  -1  0 add         ( 0, 0,   1),( 0, 0.1, 0.6)
    static     0  0 top         ( 0, 0, 0.1)