######################################################################
##							  RGB LEDs								##
######################################################################

[neopixel strip]														# LED strip - RGB
pin: PD15                     											# LED pin
chain_count: 56               											# Number of LEDs
color_order: GRBW              											# Color order

######################################################################
##							 LED effects							##
######################################################################


[led_effect extruder_temp]												# Extruder temperature LED effect
leds:																	# LED selection
	neopixel:strip												
layers: 																# Colors selection
	heater 0.50 0.50 top (0.0,1.0,0.0),(1.0,0.0,0.0),(0.0,0.0,1.0)
frame_rate: 10															# Frame rate
heater: extruder														# Connected heater
autostart: false															# Autostart

#---------------------------------------------------------------------

[led_effect bed_heating]												# Bed heating LED effect		
leds:																	# LED selection
	neopixel:strip
layers:																	# Colors selection
	heater 0.50 0.50 top (0.0,1.0,0.0),(1.0,0.0,0.0),(0.0,0.0,1.0)
frame_rate: 10															# Frame rate
heater: heater_bed														# Connected heater
autostart: false															# Autostart

#---------------------------------------------------------------------

[led_effect progress_bar]												# Progress bar LED effect
leds:																	# LED selection
	neopixel:strip
layers:																	# Colors selection
	progress  -1  0 add         ( 0, 0,   1),( 0, 0.1, 0.6)
	static     0  0 top         ( 0, 0, 0.1)
frame_rate: 10															# Frame rate
autostart: false															# Autostart

#---------------------------------------------------------------------

[led_effect rainbow]													# Hotend LED effect
leds:																	# LED selection
	neopixel:strip
layers:																	# Color selection
	gradient 0.50 0.50 top (1,0,0),(0,1,0),(0,0,1)
frame_rate: 30															# Frame rate
