######################################################################
##							  RGB LEDs								##
######################################################################

[neopixel my_neopixel]
pin: PD15                     											# LED pin
chain_count: 50               											# Number of LEDs
color_order: GRBW              											# Color order
initial_RED: 0.2              											# Initial red brightness
initial_GREEN: 0.2            											# Initial green brightness
initial_BLUE: 0.2             											# Initial blue brightness
initial_WHITE: 0.2             											# Initial white brightness

######################################################################
##							 LED effects							##
######################################################################


[led_effect extruder_temp]												# Extruder temperature LED effect
leds:																	# LED selection
	neopixel: my_neopixel												
layers: 																# Colors selection
	heater 0.50 0.50 top (0.0,1.0,0.0),(1.0,0.0,0.0),(0.0,0.0,1.0)
frame_rate: 10															# Frame rate
heater: extruder														# Connected heater
autostart: true															# Autostart

#---------------------------------------------------------------------

[led_effect bed_heating]												# Bed heating LED effect		
leds:																	# LED selection
    neopixel:my_neopixel
layers:																	# Colors selection
    heater 0.50 0.50 top (0.0,1.0,0.0),(1.0,0.0,0.0),(0.0,0.0,1.0)
frame_rate: 10															# Frame rate
heater: heater_bed														# Connected heater
autostart: true															# Autostart

#---------------------------------------------------------------------

[led_effect progress_bar]												# Progress bar LED effect
leds:																	# LED selection
    neopixel:my_neopixel
layers:																	# Colors selection
    progress  -1  0 add         ( 0, 0,   1),( 0, 0.1, 0.6)
    static     0  0 top         ( 0, 0, 0.1)
frame_rate: 10															# Frame rate
autostart: true															# Autostart

#---------------------------------------------------------------------

[led_effect rainbow] 													# Hotend LED effect
leds:    																# LED selection
  neopixel:my_neopixel
layers:																	# Color selection
  gradient 0.50 0.50 top (1,0,0),(0,1,0),(0,0,1) 
frame_rate: 10															# Frame rate