######################################################################
##						Include config files	 					##
######################################################################

[include Manta M8P/steppers_XY.cfg]										# Include XY stepper config file
[include Manta M8P/steppers_Z.cfg]										# Include Z stepper config file
[include Manta M8P/LEDs.cfg]											# Include LED config file
[include Manta M8P/fans.cfg]											# Include fan config file
[include Manta M8P/bed.cfg]												# Include bed config file

######################################################################
##							  MCU config							##
######################################################################

[mcu]                                   								# Main MCU configuration
canbus_uuid: 53a9d721d495               								# CAN bus UUID
canbus_interface: can0													# CAN bus interface

######################################################################
##						Temperature Monitoring						##
######################################################################

[temperature_sensor BTT-MCU]            								# BTT-MCU temperature sensor
sensor_type: temperature_mcu            								# Sensor type

[temperature_sensor SOC]                								# RPi temperature sensor
sensor_type: temperature_host           								# Sensor type
