######################################################################
##							  MCU config							##
######################################################################

[mcu]                                   								# Main MCU configuration
canbus_uuid: 53a9d721d495               								# CAN bus UUID
canbus_interface: can0

######################################################################
##						Temperature Monitoring						##
######################################################################

[temperature_sensor BTT-MCU]            								# BTT-MCU temperature sensor
sensor_type: temperature_mcu            								# Sensor type

[temperature_sensor SOC]                								# RPi temperature sensor
sensor_type: temperature_host           								# Sensor type

