######################################################################
##						Include config files	 					##
######################################################################

[include steppers_XY.cfg]												# Include XY stepper config file
[include steppers_Z.cfg]												# Include Z stepper config file
[include LEDs.cfg]														# Include LED config file
[include fans.cfg]														# Include fan config file
[include bed.cfg]														# Include bed config file

######################################################################
##							  MCU config							##
######################################################################

[mcu]                                   								# Main MCU configuration
canbus_uuid: 53a9d721d495               								# CAN bus UUID
canbus_interface: can0													# CAN bus interface

######################################################################
##						Temperature Monitoring						##
######################################################################

[temperature_sensor BTT-MCU]            								# BTT-MCU temperature sensor
sensor_type: temperature_mcu            								# Sensor type

[temperature_sensor SOC]                								# RPi temperature sensor
sensor_type: temperature_host           								# Sensor type

[temperature_sensor chamber]											# Chamber temperature sensor
sensor_type: BME280														# Sensor type
i2c_mcu: mcu                   											# Mainboard MCU - I2C
i2c_software_scl_pin: PA8      											# SCL pin
i2c_software_sda_pin: PC9      											# SDA pin
i2c_address: 118               											# Sensor address
