######################################################################
##								X-Axis								##
######################################################################

# X: Front left
# X1: Back right

#---------------------------------------------------------------------

[stepper_x]																# X-axis motor settings - M1
step_pin: PE6                         									# X-axis motor pulse pin
dir_pin: !PE5                         									# X-axis motor direction pin
enable_pin: !PC14                     									# X-axis motor enable pin
microsteps: 32                        									# Motor microstep setting
rotation_distance: 40                 									# Active pulley circumference
endstop_pin: SB2209:gpio24            									# Limit switch pin
position_endstop: 350                 									# Endstop position for X-axis
position_max: 350                     									# X-axis maximum travel
homing_speed: 200                     									# Homing speed X-Axis
homing_accel: 5000														# Homing acceleration X-Axis

#---------------------------------------------------------------------

[tmc2240 stepper_x]														# Driver settings - M1
cs_pin: PC13                          									# Chip select pin
spi_software_sclk_pin: PG8            									# SPI clock pin
spi_software_mosi_pin: PG6            									# SPI MOSI pin
spi_software_miso_pin: PG7            									# SPI MISO pin
run_current: 1                      									# Motor running current
rref: 12000																# Reference resistor

#---------------------------------------------------------------------

[stepper_x1]															# X-axis secondary motor settings - M7
step_pin: PD4                         									# X-axis secondary motor pulse pin
dir_pin: !PD3                         									# X-axis secondary motor direction pin
enable_pin: !PD6                     									# X-axis secondary motor enable pin
microsteps: 32                        									# Motor microstep setting
rotation_distance: 40                 									# Active pulley circumference

#---------------------------------------------------------------------

[tmc2240 stepper_x1]													# Secondary driver settings - M7
cs_pin: PD5                           									# Chip select pin
spi_software_sclk_pin: PG8            									# SPI clock pin
spi_software_mosi_pin: PG6            									# SPI MOSI pin
spi_software_miso_pin: PG7            									# SPI MISO pin
run_current: 1                      									# Motor running current
rref: 12000																# Reference resistor

######################################################################
##								Y-Axis								##
######################################################################

# Y: Front right
# Y1: Back left

#---------------------------------------------------------------------

[stepper_y]																# Y-axis motor settings - M8
step_pin: PC7                         									# Y-axis motor pulse pin
dir_pin: !PC8                         									# Y-axis motor direction pin
enable_pin: !PD2                      									# Y-axis motor enable pin
microsteps: 32                        									# Motor microstep setting
rotation_distance: 40                 									# Active pulley circumference
endstop_pin: PF2                      									# Limit switch pin
position_endstop: 360               									# Endstop position for Y-axis
position_max: 360                   									# Y-axis maximum travel
homing_speed: 200                     									# Homing speed Y-Axis
homing_accel: 5000														# Homing acceleration Y-Axis

#---------------------------------------------------------------------

[tmc2240 stepper_y]														# Driver settings - M8
cs_pin: PC6                           									# Chip select pin
spi_software_sclk_pin: PG8           	 								# SPI clock pin
spi_software_mosi_pin: PG6           	 								# SPI MOSI pin
spi_software_miso_pin: PG7            									# SPI MISO pin
run_current: 1                      									# Motor running current
rref: 12000																# Reference resistor

#---------------------------------------------------------------------

[stepper_y1]															# Y-axis secondary motor settings - M2
step_pin: PE2                         									# Y-axis secondary motor pulse pin
dir_pin: !PE1                         									# Y-axis secondary motor direction pin
enable_pin: !PE4                     			 						# Y-axis secondary motor enable pin
microsteps: 32                        									# Motor microstep setting
rotation_distance: 40                 									# Active pulley circumference

#---------------------------------------------------------------------

[tmc2240 stepper_y1]													# Secondary driver settings - M2
cs_pin: PE3                           									# Chip select pin
spi_software_sclk_pin: PG8            									# SPI clock pin
spi_software_mosi_pin: PG6            									# SPI MOSI pin
spi_software_miso_pin: PG7            									# SPI MISO pin
run_current: 1                      									# Motor running current
rref: 12000																# Reference resistor
