######################################################################
##								Z-Axis								##
######################################################################

# Z0: Front left
# Z1: Back middle
# Z2: Front right

#---------------------------------------------------------------------

[stepper_z]																# Z-axis motor settings - M3
step_pin: PB8                         									# Z-axis motor pulse pin
dir_pin: !PB7                         									# Z-axis motor direction pin
enable_pin: !PE0                     	 								# Z-axis motor enable pin
microsteps: 16                        									# Motor microstep setting
rotation_distance: 4                  									# Active pulley circumference
endstop_pin: cartographer:z_virtual_endstop  							# Limit switch pin
position_max: 245                     									# Z-axis maximum travel
position_min: -5.0                    									# Z-axis minimum travel
homing_speed: 20                      									# Homing speed
homing_retract_dist: 0                									# Homing setback distance

#---------------------------------------------------------------------

[tmc2209 stepper_z]                   									# Driver settings - M3
uart_pin: PB9                         									# Driver communication port
run_current: 0.8                      									# Motor running current
sense_resistor: 0.110													# Sense resistor

#---------------------------------------------------------------------

[stepper_z1]															# Z-axis secondary motor settings - M4
step_pin: PB4                         									# Z-axis secondary motor pulse pin
dir_pin: !PB3                         									# Z-axis secondary motor direction pin
enable_pin: !PB6                      									# Z-axis secondary motor enable pin
microsteps: 16                        									# Motor microstep setting
rotation_distance: 4                  									# Active pulley circumference

#---------------------------------------------------------------------

[tmc2209 stepper_z1]                  									# Secondary driver settings - M4
uart_pin: PB5                         									# Driver communication port
run_current: 0.8                      									# Motor running current
sense_resistor: 0.110													# Sense resistor

#---------------------------------------------------------------------

[stepper_z2]															# Z-axis tertiary motor settings - M5
step_pin: PG13                        									# Z-axis tertiary motor pulse pin
dir_pin: !PG12                       		 							# Z-axis tertiary motor direction pin
enable_pin: !PG15                     									# Z-axis tertiary motor enable pin
microsteps: 16                        									# Motor microstep setting
rotation_distance: 4                  									# Active pulley circumference

#---------------------------------------------------------------------

[tmc2209 stepper_z2]                  									# Tertiary driver settings - M5
uart_pin: PG14                        									# Driver communication port
run_current: 0.8                      									# Motor running current
sense_resistor: 0.110													# Sense resistor
