######################################################################
##						Printer model definition					##
######################################################################

[printer]                             									# Printer configuration
kinematics: corexy                    									# Printer type
max_velocity: 600                    									# Maximum velocity
max_accel: 10000                      									# Maximum acceleration
max_z_velocity: 50                    									# Maximum Z-axis velocity
max_z_accel: 100                      									# Maximum Z-axis acceleration
minimum_cruise_ratio: 0.5             									# Cruise ratio
square_corner_velocity: 10            									# Square corner velocity

######################################################################
##								X-Axis								##
######################################################################

[stepper_x]																# X-axis motor settings
step_pin: PE6                         									# X-axis motor pulse pin
dir_pin: !PE5                         									# X-axis motor direction pin
enable_pin: !PC14                     									# X-axis motor enable pin
microsteps: 32                        									# Motor microstep setting
rotation_distance: 40                 									# Active pulley circumference
full_steps_per_rotation: 200          									# Number of pulses for a full revolution
endstop_pin: EBBCan:gpio24            									# Limit switch pin
position_endstop: 350                 									# Endstop position for X-axis
position_max: 350                     									# X-axis maximum travel
homing_speed: 200                     									# Homing speed X-Axis
homing_accel: 5000														# Homing acceleration X-Axis

[tmc2240 stepper_x]
cs_pin: PC13                          # Chip select pin
spi_software_sclk_pin: PG8            # SPI clock pin
spi_software_mosi_pin: PG6            # SPI master out slave in pin
spi_software_miso_pin: PG7            # SPI master in slave out pin
driver_TPFD: 0                        # Driver setting
run_current: 1.5                      # Running current
interpolate: True                     # Interpolation

[stepper_x1]															# X-axis secondary motor settings
step_pin: PD4                         									# X-axis secondary motor pulse pin
dir_pin: !PD3                         									# X-axis secondary motor direction pin
enable_pin: !PD6                     									# X-axis secondary motor enable pin
microsteps: 32                        									# Motor microstep setting
rotation_distance: 40                 									# Active pulley circumference
full_steps_per_rotation: 200          									# Number of pulses for a full revolution

[tmc2240 stepper_x1]
cs_pin: PD5                           # Chip select pin
spi_software_sclk_pin: PG8            # SPI clock pin
spi_software_mosi_pin: PG6            # SPI master out slave in pin
spi_software_miso_pin: PG7            # SPI master in slave out pin
driver_TPFD: 0                        # Driver setting
run_current: 1.5                      # Running current
interpolate: True                     # Interpolation

#####################################################################
##                           Y Aixs
#####################################################################

[stepper_y]
step_pin: PC7                         # Y-axis motor pulse pin setting
dir_pin: !PC8                         # Y-axis motor direction pin setting
enable_pin: !PD2                      # Y-axis motor enable pin setting
microsteps: 32                        # Motor microsteps setting
rotation_distance: 40                 # Active pulley circumference mm (2GT-20T pulley 40, 2GT-16T pulley 32)
full_steps_per_rotation: 200          # Number of pulses required for a single motor revolution (1.8 degree motor: 200, 0.9 degree motor: 400)
endstop_pin: PF2                      # Limit switch PIN setting (Y-)
position_min: 0                       # Y-axis minimum travel - software limit
position_endstop: 360               # Mechanical reset point coordinates for Y-axis (change to 350 for 350 models)
position_max: 360                   # Y-axis maximum travel - software limit (change to 350 for 350 models)
homing_speed: 150                     # Homing speed maximum 100
homing_retract_dist: 5                # Setback distance after the first trigger of the homing switch
homing_positive_dir: true             # Direction of homing (generally no change required)

[tmc2240 stepper_y]
cs_pin: PC6                           # Chip select pin
spi_software_sclk_pin: PG8            # SPI clock pin
spi_software_mosi_pin: PG6            # SPI master out slave in pin
spi_software_miso_pin: PG7            # SPI master in slave out pin
driver_TPFD: 0                        # Driver setting
run_current: 1.5                      # Running current
interpolate: True                     # Interpolation

[stepper_y1]
step_pin: PE2                         # Y1-axis motor pulse pin setting
dir_pin: !PE1                         # Y1-axis motor direction pin setting
enable_pin: !PE4                      # Y1-axis motor enable pin setting
microsteps: 32                        # Motor microsteps setting
rotation_distance: 40                 # Active pulley circumference mm (2GT-20T pulley 40, 2GT-16T pulley 32)
full_steps_per_rotation: 200          # Number of pulses required for a single motor revolution (1.8 degree motor: 200, 0.9 degree motor: 400)

[tmc2240 stepper_y1]
cs_pin: PE3                           # Chip select pin
spi_software_sclk_pin: PG8            # SPI clock pin
spi_software_mosi_pin: PG6            # SPI master out slave in pin
spi_software_miso_pin: PG7            # SPI master in slave out pin
driver_TPFD: 0                        # Driver setting
run_current: 1.5                      # Running current
interpolate: True                     # Interpolation

