# https://github.com/andrewmcgr/klipper_tmc_autotune/blob/main/motor_database.cfg
# X/Y - siboor-42sth48-2504(s45)
# Z - siboor-42sth40-1684a-300
# E - siboor-14sth20-1004a



[autotune_tmc stepper_x]																													
motor: siboor-42sth48-2504(s45)																												# Motor definition
extra_hysteresis: 0																															# Additional hysteresis 0..8
tbl: 1																																		# Comparator blank time 0..3
sg4_thrs: 80																																# CoolStep threshold 0..255
voltage: 36																																	# Motor voltage
overvoltage_vth: 36.8																														# Overvoltage threshold on TMC2240 V+0.8

[autotune_tmc stepper_x]
motor: siboor-42sth48-2504(s45)																												# Motor definition
extra_hysteresis: 0																															# Additional hysteresis 0..8
tbl: 1																																		# Comparator blank time 0..3
sg4_thrs: 80																																# CoolStep threshold 0..255
voltage: 36																																	# Motor voltage
overvoltage_vth: 36.8																														# Overvoltage threshold on TMC2240 V+0.8