######################################################################
##						    TMC autotune							##
######################################################################

# https://github.com/andrewmcgr/klipper_tmc_autotune/blob/main/motor_database.cfg
# X/Y - siboor-42sth48-2504(s45)
# Z - siboor-42sth40-1684a-300
# E - siboor-14sth20-1004a

######################################################################
##								X-Axis								##
######################################################################

[autotune_tmc stepper_x]																													# X-axis motor autotune
motor: siboor-42sth48-2504(s45)																												# Motor definition
extra_hysteresis: 0																															# Additional hysteresis 0..8
tbl: 1																																		# Comparator blank time 0..3
sg4_thrs: 80																																# CoolStep threshold 0..255
voltage: 36																																	# Motor voltage
overvoltage_vth: 36.8																														# Overvoltage threshold on TMC2240 V+0.8

#---------------------------------------------------------------------

[autotune_tmc stepper_x1]																													# X-axis secondary motor autotune
motor: siboor-42sth48-2504(s45)																												# Motor definition
extra_hysteresis: 0																															# Additional hysteresis 0..8
tbl: 1																																		# Comparator blank time 0..3
sg4_thrs: 80																																# CoolStep threshold 0..255
voltage: 36																																	# Motor voltage
overvoltage_vth: 36.8																														# Overvoltage threshold on TMC2240 V+0.8

######################################################################
##								Y-Axis								##
######################################################################

[autotune_tmc stepper_y]																													# Y-axis motor autotune
motor: siboor-42sth48-2504(s45)																												# Motor definition
extra_hysteresis: 0																															# Additional hysteresis 0..8
tbl: 1																																		# Comparator blank time 0..3
sg4_thrs: 80																																# CoolStep threshold 0..255
voltage: 36																																	# Motor voltage
overvoltage_vth: 36.8																														# Overvoltage threshold on TMC2240 V+0.8

#---------------------------------------------------------------------

[autotune_tmc stepper_y1]																													# Y-axis secondary motor autotune
motor: siboor-42sth48-2504(s45)																												# Motor definition
extra_hysteresis: 0																															# Additional hysteresis 0..8
tbl: 1																																		# Comparator blank time 0..3
sg4_thrs: 80																																# CoolStep threshold 0..255
voltage: 36																																	# Motor voltage
overvoltage_vth: 36.8																														# Overvoltage threshold on TMC2240 V+0.8

######################################################################
##								Z-Axis								##
######################################################################

[autotune_tmc stepper_z]																													# Z-axis motor autotune
motor: siboor-42sth40-1684a-300																												# Motor definition
extra_hysteresis: 0																															# Additional hysteresis 0..8
tbl: 2																																		# Comparator blank time 0..3
sg4_thrs: 80																																# CoolStep threshold 0..255
voltage: 24																																	# Motor voltage

#---------------------------------------------------------------------

[autotune_tmc stepper_z1]																													# Z-axis secondary motor autotune
motor: siboor-42sth40-1684a-300																												# Motor definition
extra_hysteresis: 0																															# Additional hysteresis 0..8
tbl: 2																																		# Comparator blank time 0..3
sg4_thrs: 80																																# CoolStep threshold 0..255
voltage: 24																																	# Motor voltage

#---------------------------------------------------------------------

[autotune_tmc stepper_z2]																													# Z-axis tertiary motor autotune
motor: siboor-42sth40-1684a-300																												# Motor definition
extra_hysteresis: 0																															# Additional hysteresis 0..8
tbl: 2																																		# Comparator blank time 0..3
sg4_thrs: 80																																# CoolStep threshold 0..255
voltage: 24																																	# Motor voltage

######################################################################
##							   Extruder								##
######################################################################

[autotune_tmc extruder]																														# Extruder motor autotune
motor: siboor-14sth20-1004a																													# Motor definition
extra_hysteresis: 0																															# Additional hysteresis 0..8
tbl: 2																																		# Comparator blank time 0..3
sg4_thrs: 80																																# CoolStep threshold 0..255
voltage: 24																																	# Motor voltage
