[maintain]

# Lubricate XY rods
[maintain xyrods]
label: XY smooth rods
trigger: print_time
threshold: 1000
message: Lubricate XY smooth rods

# Replace air filter
[maintain airfilter]
label: Air filter
trigger: print_time
threshold: 1000
message: Replace HEPA and charcoal filters

# Extruder maintenance
[maintain extruder]
label: Extruder maintenance
trigger: filament
threshold: 2000
message: Clean extruder gears and tighten extruder bolts