[motors_sync]
axes: x,y																			# Axes for syncronization
accel_chip: adxl345 SB2209															# Accelerometer definition
retry_tolerance: 1000																# Magnitude threshold
retries: 3																			# Number of retries
head_fan:	# toolhead fans
#    Full name of the toolhead fan that will be turned off during sync to
#    eliminate its noise. Can be specified multiple fans by separating
#    their names with commas.
