######################################################################
##						     Motors sync		 					##
######################################################################

[motors_sync]															# Motors sync configuration
axes: x,y																# Axes for syncronization
accel_chip: adxl345														# Accelerometer definition
retry_tolerance: 500													# Magnitude threshold
retries: 5																# Number of retries
head_fan: heater_fan hotend_fan											# Toolhead fans
