[motors_sync]
axes: x,y																			# Axes for syncronization
#    Axes on which synchronization will be performed, separated by commas.
#    For example, for CoreXY kinematics: x,y.
accel_chip: adxl345 SB2209															# Accelerometer definition
#    Accelerometer for vibrations collection: adxl345 / mpu9250 etc.
#microsteps: 16
#    Maximum microsteps resolution relative to motor full step.
#steps_model: linear, 10000, 0
#    Mathematical model and its coefficients describing the dependence of
#    motor microstep displacement on the magnitude of the measured impulse.
#    The model determines how many microsteps the motor position is corrected
#    per one correction step depending on the measured impulse magnitude.  
#max_step_size: 3
#    Maximum number of microsteps the motor can move in one correction step
#    to achieve the planned impulse magnitude.
#axes_steps_diff:
#    Difference in motor positions in microsteps between two linked axes,
#    to start checking the position offset of the secondary axis. Relevant
#    only for CoreXY type kinematics. Default value - max_step_size + 1.
#retry_tolerance: 0
#    Forced threshold to which the motor impulse magnitude must drop for the
#    synchronization procedure to complete successfully. Recommended to
#    configure in order to filter possible measurement errors. When using an
#    accelerometer, the typical range is [200..2000].
#retries: 0
#    Maximum number of retries to reach retry_tolerance.
#head_fan:
#    Full name of the toolhead fan that will be turned off during sync to
#    eliminate its noise. Can be specified multiple fans by separating
#    their names with commas.
#axis_prefix_<axis>:
#    Allows you to set a custom prefix that will be displayed before the
#    axis name in terminal outputs. You can use special characters or
#    Unicode icons to make the axes easier to distinguish.