######################################################################
##						  Resonance testing  	 					##
######################################################################

[resonance_tester]														# Resonance testing configuration
accel_chips: adxl345 SB2209				             					# Accelerometers for resonance testing, adxl345 carto
probe_points: 175, 175, 10                								# Resonance testing point

######################################################################
##						  	  Shaketune	    	 					##
######################################################################

[shaketune]
result_folder: ~/printer_data/config/adxl_results/shaketune				# result folder
measurements_chunk_size: 10
#    Each Shake&Tune command uses the accelerometer to take multiple measurements. By default,
#    Shake&Tune will write a chunk of data to disk every two measurements, and at the end of the
#    command will merge these chunks into the final .stdata file for processing. "2" is a very
#    conservative setting to avoid Klipper Timer Too Close errors on lower end devices with little
#    RAM, and should work for everyone. However, if you are using a powerful computer, you may
#    wish to increase this value to keep more measurements in memory (e.g., 15-20) before writing
#    the chunk and avoid stressing the filesystem too much.