######################################################################
##						  Resonance testing  	 					##
######################################################################

[resonance_tester]														# Resonance testing configuration
accel_chips: adxl345					             					# Accelerometers for resonance testing, adxl345 carto
probe_points: 175, 175, 10                								# Resonance testing point

######################################################################
##						  	  Shaketune	    	 					##
######################################################################

[shaketune]
result_folder: ~/printer_data/config/adxl_results/shaketune				# result folder