[mcu]                                   # Main MCU configuration
#serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_slipper-if00  # Serial port setting, this line is commented out
canbus_uuid: 53a9d721d495               # CAN bus UUID
canbus_interface: can0                  # CAN bus interface