######################################################################
##								Extruder							##
######################################################################

[extruder]																# Extruder settings
step_pin: EBBCan:gpio18             									# Extruder motor pulse pin
dir_pin: EBBCan:gpio19               									# Extruder motor direction pin
enable_pin: !EBBCan:gpio17           									# Extruder motor enable pin
microsteps: 32                       									# Motor microstep setting
gear_ratio: 5:1                    										# Gear ratio
rotation_distance: 22.6789511        									# Rotation distance
nozzle_diameter: 0.400               									# Nozzle diameter
filament_diameter: 1.750            	 								# Filament diameter
pressure_advance: 0.05               									# Pressure advance
pressure_advance_smooth_time: 0.040   									# Pressure advance smooth time

heater_pin: EBBCan:gpio7             									# Heater pin
sensor_type: MAX31865                									# Temperature sensor type
sensor_pin: EBBCan:gpio9            	 								# Sensor pin
control: pid                         									# Control method
pid_Kp: 24.328                       									# Proportional parameter
pid_Ki: 1.908                        									# Integral parameter
pid_Kd: 77.543                       									# Derivative parameter
min_temp: 0                        										# Minimum temperature
max_temp: 300                        									# Maximum temperature
min_extrude_temp: 170                									# Minimum extrude temperature

spi_software_sclk_pin: EBBCan:gpio10 									# SPI clock pin
spi_software_mosi_pin: EBBCan:gpio8  									# SPI MOSI pin
spi_software_miso_pin: EBBCan:gpio11 									# SPI MISO pin
rtd_nominal_r: 100                   									# RTD nominal resistance
rtd_reference_r: 430                 									# RTD reference resistance
rtd_num_of_wires: 2                  									# Number of wires for the RTD

#---------------------------------------------------------------------

[tmc2209 extruder]
uart_pin: EBBCan:gpio20              # UART communication pin
interpolate: true                    # Enable 256 microstep interpolation
run_current: 0.60                    # Running current




