#--------------------------------------------------------------------
[verify_heater extruder]             # Heater block temperature tolerance configuration
max_error: 120                       # Maximum error
check_gain_time: 120                 # Tolerance time
hysteresis: 50                       # Tolerance temperature
heating_gain: 2                      # Heating gain