#####################################################################
##                            RGB-LED Lights
#####################################################################

[led_effect rainbow] 
leds:    
  neopixel:my_neopixel
layers:
  gradient 0.50 0.50 top (1,0,0),(0,1,0),(0,0,1) 
frame_rate: 10
