######################################################################
##							  RGB LEDs								##
######################################################################

[neopixel hotend_rgb]													# Hotend LEDs
pin: SB2209:gpio16            											# LED pin
chain_count: 3                											# Number of LEDs
color_order: GRBW             											# Color order
initial_RED: 0.2              											# Initial red brightness
initial_GREEN: 0.2            											# Initial green brightness
initial_BLUE: 0.2             											# Initial blue brightness
initial_WHITE: 0.2             											# Initial white brightness

######################################################################
##							 LED effects							##
######################################################################

[led_effect rainbow] 													# Hotend LED effect
leds:    																# LED selection
  neopixel:my_neopixel
layers:																	# Color selection
  gradient 0.50 0.50 top (1,0,0),(0,1,0),(0,0,1) 
frame_rate: 10															# Frame rate