######################################################################
##							  RGB LEDs								##
######################################################################

[neopixel hotend]													# Hotend LEDs
pin: SB2209:gpio16            											# LED pin - RGB
chain_count: 3                											# Number of LEDs
color_order: GRBW             											# Color order

######################################################################
##							 LED effects							##
######################################################################

[led_effect logo_gradient]
leds:
    neopixel:hotend (1)                                             # Targets ONLY the 1st LED
layers:
    gradient 0.1 1.0 top (0.0, 0.0, 1.0), (0.5, 0.0, 0.8), (1.0, 0.0, 0.5), (1.0, 0.0, 0.0)
frame_rate: 10
autostart: true

######################################################################
##           Nozzle LEDs - Motion Active (LEDs 2 & 3)               ##
######################################################################

[led_effect nozzle_light]
leds:
    neopixel:hotend (2,3)
layers:
    heater 0.0 0.0 top (0.0, 0.0, 0.0, 1.0)                            # 100% White when heater is active
heater: extruder
autostart: true
frame_rate: 10