######################################################################
##							  RGB LEDs								##
######################################################################

[neopixel hotend_rgb]													# Hotend LEDs
pin: SB2209:gpio16            											# LED pin
chain_count: 3                											# Number of LEDs
color_order: GRBW             											# Color order
initial_RED: 0.2              											# Initial red brightness
initial_GREEN: 0.2            											# Initial green brightness
initial_BLUE: 0.2             											# Initial blue brightness
initial_WHITE: 0.2             											# Initial white brightness

######################################################################
##							 LED effects							##
######################################################################