######################################################################
##							 Cartographer							##
######################################################################

[scanner]
canbus_uuid: f2fd53da9cdb
#    Fill in the UUID that was just recorded           
x_offset: 0                          
#    adjust for your cartographers offset from nozzle to middle of coil
y_offset: 23                         
#    adjust for your cartographers offset from nozzle to middle of coil
backlash_comp: 0.5
#   Backlash compensation distance for removing Z backlash before measuring
#   the sensor response.
# 
#   Offsets are measured from the centre of your coil, to the tip of your nozzle 
#   on a level axis. It is vital that this is accurate. 
calibration_method: touch
#    leave this as touch unless you want to use scan only for everything. 
sensor: cartographer
#    this must be set as cartographer unless using IDM etc.
sensor_alt: carto
#    alternate name to call commands. CARTO_TOUCH etc
scanner_touch_z_offset: 0.05         
#    This is the default and will be overwritten and added to the DO NOT SAVE area by using UI to save z offset
mesh_runs: 2
#    Number of passes to make during mesh scan.

[adxl345]
cs_pin: scanner:PA3
spi_bus: spi1

[resonance_tester]
accel_chip: adxl345             # Specifies ADXL345 accelerometer for resonance testing
probe_points:
    175, 175, 20                # Coordinates of the probe points for resonance testing

######################################################################
##							  Bed mesh  							##
######################################################################

[bed_mesh]
zero_reference_position: 175,175  										# Reference point
speed: 200																# Scanning speed
horizontal_move_z: 5													# Scanner height
mesh_min: 30, 30														# Mesh start point
mesh_max: 320, 320														# Mesh end point
probe_count: 30, 30														# Mesh size
algorithm: bicubic														# Meshing algorithm