######################################################################
##							 Cartographer							##
######################################################################

[mcu cartographer]														# Cartographer MCU settings
canbus_uuid: f2fd53da9cdb												# Can UUID


[cartographer]															# Cartorapher settings
mcu: cartographer														# MCU selection
x_offset: 0                          									# Cartographer X offset
y_offset: 23															# Cartographer Y offset
macro_prefix: CARTO														# Macro prefix
#---------------------------------------------------------------------


[cartographer coil]														# Cartorapher coil temperature
name: 'cartographer_coil'												# Coil temperature sensor name
min_temp: 0																# Coil minimum temperature
max_temp: 105															# Coil maximum temperature

#---------------------------------------------------------------------

[temperature_sensor cartographer]										# Cartorapher MCU temperature
sensor_type: temperature_mcu											# Sensor type
sensor_mcu: cartographer												# MCU selection
min_temp: 5																# MCU minimum temperature
max_temp: 105															# MCU maximum temperature

#---------------------------------------------------------------------

[adxl345 carto]															# Cartorapher IMU
cs_pin: scanner:PA3														# SPI se
spi_bus: spi1
