######################################################################
##							 Cartographer							##
######################################################################

[mcu cartographer]														# Cartographer MCU settings
canbus_uuid: f2fd53da9cdb												# Can UUID

#---------------------------------------------------------------------

[cartographer]															# Cartorapher settings
mcu: cartographer														# MCU selection
x_offset: 0                          									# Cartographer X offset
y_offset: 23															# Cartographer Y offset
macro_prefix: CARTO														# Macro prefix

######################################################################
##						   Cartographer scan						##
######################################################################

[cartographer scan]
#probe_speed: 5
#   Speed (in mm/s) of the Z axis when probing.
#   Constraints: minimum: 0.1
#mesh_runs: 1
#   Number of runs when doing a scan mesh. Consecutive runs will trace back the way it came from.
#mesh_height: 3
#   The height (in mm) of the head when doing a mesh run.
#   Constraints: minimum: 1
#mesh_direction: 'x'
#   Axis of which to do the most moves along.
#   Allowed values: x, y
#mesh_path: 'snake'
#   The path to use when calibrating a scan mesh.
#   Allowed values: snake, alternating_snake, spiral, random

######################################################################
##						   Cartographer touch						##
######################################################################

[cartographer touch]
#samples: 3
#   The number of samples to use when doing a touch.
#   Constraints: minimum: 3
#max_samples: 10
#   The maximum number of samples to do before giving up.
#max_noisy_samples: 2
#   The number of noisy samples tolerated within the sliding window. The window size is calculated as samples + max_noisy_samples. A smaller value prevents cherry-picking good samples from a noisy sequence.
#   Constraints: minimum: 0
#UNSAFE_max_touch_temperature: 150
#   The maximum allowed nozzle temperature to use when touching the plate. This is set to 150C to avoid damaging your plate. Change this AT YOUR OWN RISK.
#EXPERIMENTAL_home_random_radius: 0.0
#   Radius around the Z home position to do touch.
#   Constraints: minimum: 0.0
#retract_distance: 2.0
#   Retract distance (in mm) between touch samples.
#   Constraints: minimum: 1.0
#sample_range: 0.01
#   Acceptable range (in mm) between touch samples.
#   Constraints: minimum: 0.001, maximum: 0.015

######################################################################
##	                 Accelerometer configuration					##
######################################################################

[adxl345 carto]															# Cartorapher accelerometer configuration
cs_pin: scanner:PA3														# Chip select pin
spi_bus: spi1															# SPI bus selection

######################################################################
##	                 	Temperature Monitoring						##
######################################################################

[cartographer coil]														# Cartorapher coil temperature
name: 'cartographer_coil'												# Coil temperature sensor name
min_temp: 0																# Coil minimum temperature
max_temp: 105															# Coil maximum temperature

#---------------------------------------------------------------------

[temperature_sensor cartographer]										# Cartorapher MCU temperature
sensor_type: temperature_mcu											# Sensor type
sensor_mcu: cartographer												# MCU selection
min_temp: 5																# MCU minimum temperature
max_temp: 105															# MCU maximum temperature
