######################################################################
##						   Z Tilt Adjustment						##
######################################################################

#[z_tilt]																# Z tilt settings
#z_positions:															# Pivot points
#   -50, 18
#   175, 398
#   400, 18
#points:																	# Probe points
#   25, 25
#   175, 325
#   325, 25
#speed: 100                 												# Z tilt speed
#horizontal_move_z: 2       												# Probing height
#retries: 10                												# Number of retries
#retry_tolerance: 0.01    												# Retry tolerance

[z_tilt_ng]

points:																	# Probe points
   25, 25
   175, 325
   325, 25
#speed: 50
# See [z_tilt]
horizontal_move_z: 2
# See [z_tilt]
retries: 10
# See [z_tilt]
retry_tolerance: 0.01
# See [z_tilt]
#use_probe_xy_offsets: True
# See [z_tilt]
#enforce_lift_speed: False
# See [z_tilt]
extra_points:
   175, 25
   25, 175
   175, 175
   325, 175
   25, 325
   325, 325

#   A list in the same format as "points" above. This list contains
#   additional points to be probed during the two calibration commands
#   Z_TILT_CALIBRATE and Z_TILT_AUTODETECT. If the bed is not perfectly
#   level, it is possible to specify more probing points with "points".
#   In that Z_TILT_ADJUST will determine the best fit via a least squares
#   algorithm. As this comes with additional overhead on each Z_TILT_ADJUST
#   run, it is instead possible to move the additional probing points here,
#   and use Z_TILT_CALIBRATE to find z_offsets to use for the probing points
#   used in Z_TILT_ADJUST.
#   The extra points are also used during T_ZILT_AUTODETECT. This command
#   can determine the z_positions automatically by during several probings
#   with intentionally tilted bed. It is currently only implemented for 3
#   z steppers.
#   Note that for both commands to work numpy has to be installed.
#autodetect_delta: 1.0
#   The amount by which Z_TILT_AUTODETECT intentionally tilts the bed. Higher
#   values yield better results, but can also lead to situations where the
#   bed is tilted in a way that the nozzle touched the bed before the probe.
#   The default is conservative.




######################################################################
##						   	Safe Z Home		 						##
######################################################################

[safe_z_home]
home_xy_position: 175, 175												# Homing positions
speed: 800.0															# Homing speed
z_hop: 10																# Z hop
home_y_before_x: True													# Homing order	

######################################################################
##							  Bed mesh  							##
######################################################################

[bed_mesh]																# Bed mesh settings
zero_reference_position: 175,175  										# Reference point
speed: 800																# Scanning speed
horizontal_move_z: 2													# Scanner height
mesh_min: 25, 25														# Mesh start point
mesh_max: 325, 325														# Mesh end point
probe_count: 20, 20														# Mesh size
adaptive_margin: 10														# Adaptive margin
algorithm: bicubic														# Meshing algorithm
fade_end: 10															# Compensation fade height
bed_mesh_default: default												# Default bed mesh

[axis_twist_compensation]
calibrate_start_x: 25													# Minimum X coordinate
calibrate_end_x: 325													# Maximum X coordinate
calibrate_y: 175														# Y coordinate of the calibration

calibrate_start_y: 25													# Minimum Y coordinate
calibrate_end_y: 325													# Maximum Y coordinate
calibrate_x: 175														# X coordinate of the calibration
