######################################################################
##						   Z Tilt Adjustment						##
######################################################################

[z_tilt]																# Z tilt settings
z_positions:															# Pivot points
   -50, 18
   175, 398
   400, 18
points:																	# Probe points
   50, 50
   175, 300
   300, 50
speed: 350                 												# Z tilt speed
horizontal_move_z: 2       												# Probing height
retries: 10                												# Number of retries
retry_tolerance: 0.0075    												# Retry tolerance