######################################################################
##						   Z Tilt Adjustment						##
######################################################################

[z_tilt]																# Z tilt settings
z_positions:															# Pivot points
   -50, 18
   175, 398
   400, 18
points:																	# Probe points
   50, 50
   175, 300
   300, 50
speed: 350                 												# Z tilt speed
horizontal_move_z: 2       												# Probing height
retries: 10                												# Number of retries
retry_tolerance: 0.0075    												# Retry tolerance

######################################################################
##						   	Safe Z Home		 						##
######################################################################

[safe_z_home]
home_xy_position: 175, 175												# Homing positions
speed: 200.0															# Homing speed
z_hop: 10																# Z hop
home_y_before_x: True													# Homing order	

######################################################################
##							  Bed mesh  							##
######################################################################

[bed_mesh]																# Bed mesh settings
zero_reference_position: 175,175  										# Reference point
speed: 200																# Scanning speed
horizontal_move_z: 5													# Scanner height
mesh_min: 30, 30														# Mesh start point
mesh_max: 320, 320														# Mesh end point
probe_count: 30, 30														# Mesh size
algorithm: bicubic														# Meshing algorithm